*{
    margin:0;
    padding: 0;

}
body{

width: 1200px;
margin: 0 auto;

}

.banner{
 
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}


.banner img{
   width: 70%;


}


header{
 width: 100%;
 height: 100px;

}

.iconos{
margin: 5px;    
width: 100px;
 } 


.iconos img{
    width: 100%;

}

.title p{
    color: aliceblue;
    font-size: 20px;
    margin: 0px;
}
.title h3{
 color: aliceblue;
 font-size: 30px;
 margin: 0px;

}
.efect{
 width: 80px;

}

.efect img{
    width: 100%;
    height: 100px;
}

.escudo{
    margin-top: 50px;
    margin-right: auto

}
.escudo p{
    border-right: 1px solid rgb(113, 92, 59) ;
    border-left: 1px solid rgb(113, 92, 59) ;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
.escudo span{
    margin-right: 2px;
    font-size: 20px;
}

.navbar{
    width: 100%;
    background:linear-gradient(rgb(179, 132, 32), rgb(74, 75, 43));
    height: 50px;
}


/* sobre el body */

.container-body{
    display: flex;
     width: 100%;
 }


section{
    margin: 10px auto;
    width: 800px}

article{
width: 400px;
border-top: 1px solid green;
margin-top: 10px;

}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid green;

}

.caja{
margin-top: 25px;
width: 300px;
}
.caja img{
    width: 100%;
}
.caja1{
    margin-top: 25px;
    width: 300px;
    
}
.caja1 img{

    width: 100%;
}

.caja2{
margin-top: 25px;
width: 300px;


}
.caja2 img{

    width: 100%;
}
.caja3{
    margin-top: 25px;
    width: 300px;
    

}
.caja3 img{
    width: 100%;
}
.caja4{
    margin-top: 25px;
    width: 300px;
    
}
.caja4 img{

    width: 100%;
}

.caja5{
    margin-top: 25px;
    width: 300px;
    
    
    }
    .caja5 img{
    
        width: 100%;
    }
    
