*{
    margin:0;
    padding: 0;

}

header{
 width: 100%;
 height: 100px;
 background-color: blue;

}

.iconos{
margin: 15px;    
width: 50px;
 } 


.iconos img{
    width: 100%;

}

.title p{
    color: aliceblue;
    font-size: 20px;
    margin: 0px;
}
.title h3{
 color: aliceblue;
 font-size: 30px;
 margin: 0px;

}
.efect{
 width: 80px;

}

.efect img{
    width: 100%;
}

.escudo{
    width: 30%;
    margin-top:30px;
    margin-right: 20px;

}
.escudo p{
    color: aliceblue;
    border-right: 1px solid aliceblue ;
    border-left: 1px solid aliceblue ;
    font-size: 20px;
    padding-left: 20px;
}
.escudo span{
    margin-right: 2px;
    font-size: 20px;
}

.navbar{
    width: 100%;
    background:linear-gradient(darkblue, black);
    height: 30px; 
}
