body{
   font-family: Georgia, 'Times New Roman', Times, serif;
}



.container-fluid{
    display:flexbox;
font-family:cursive;
color:white;

}

.form-group{
    
    margin-top: 20px;
    
}

.parrafo-1{
  display:flex;
  font-size: 10px;
  margin-top: 40px;
  justify-content: center;
}


.btn{
    display:flex;
   
    justify-content:center;
}





a:hover {
    background-color:rgb(76, 148, 76);
  }